html, body {
    width: 100%;
    max-width: 100vw;
    height: 100%;
    padding: 0;
    margin: 0;
}

#background-page {
    background-color: #041643;
    height: 614px;
    width: 960px;
    border-radius: 32px;
    margin: auto;
    overflow: hidden;
}








/*               classes               */
img.image-background {
    width: 784.17px;
    height: 865.28px;
    background-blend-mode: lighten;
    transform: rotateY(180deg);
    margin-left: -151.02px;
    margin-top: -83.13px;
    opacity: 20%;


    
}